{
  "extends": [
    "react-app",
    "plugin:jest/recommended",
    "jest-enzyme"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true,
    "jest/globals": true
  },
  "plugins": [
    "react",
    "jest",
    "import",
    "react-hooks"
  ],
  "settings": {
    "parser": "babel-eslint",
    "import/parser": "babel-eslint",
    "import/resolve": {},
    "ecmaFeatures": {
      "classes": true,
      "jsx": true
    }
  },
  "rules": {
    "arrow-body-style": "warn",
    "array-bracket-spacing": "warn",
    "arrow-spacing": "warn",
    "brace-style": "warn",
    "comma-spacing": "warn",
    "consistent-return": "error",
    "eol-last": "warn",
    "eqeqeq": "warn",
    "indent": [
      "warn",
      2,
      {
        "ignoredNodes": [
          "TemplateLiteral"
        ],
        "SwitchCase": 1
      }
    ],
    "keyword-spacing": "warn",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "lines-between-class-members": ["warn", "always", { "exceptAfterSingleLine": true }],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "no-await-in-loop":"warn",
    "no-else-return":"warn",
    "no-empty": "warn",
    "no-lonely-if": "warn",
    "no-multiple-empty-lines": "warn",
    "no-trailing-spaces": "warn",
    "no-unneeded-ternary": "warn",
    "no-unreachable": "warn",
    "no-unused-vars": "warn",
    "object-shorthand":"warn",
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": "block-like", "next": "*" }
    ],
    "prefer-arrow-callback": "warn",
    "prefer-const": "warn",
    "prefer-destructuring": [
      "warn",
      {
        "object": true,
        "array": false
      }
    ],
    "prefer-object-spread": "warn",
    "prefer-template": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "rest-spread-spacing": "warn",
    "semi-style":"warn",
    "space-before-blocks": "warn",
    "space-in-parens": "warn",
    "template-curly-spacing": [
      "off"
    ]
  },
  "globals": {
    "socket": true,
    "enzyme": true
  }
}
