.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main-content {
  flex: 1 0 auto;
  .vertical.menu {
    border-radius: 0!important;
    .item{
      border-radius: 0!important;
    }
  }
}
.wrapper > .footer {
  flex: 0 0 auto;
}
.main-title{
  line-height: 14px;
}
.main-menu{
  display:flex!important;
  align-items:stretch;
}
.ui.fixed.menu+.wrapper{padding-top:42px}


td, th {
  &.minimized{
    width: 1%;
    white-space: nowrap;
  }
}

