.bookmark_modal {
  .folders_list {
    height: 20VH;
  }
}

.bookmark_page {
  .folders {
    border-bottom: 1px solid $midWhite;

    &.ui.grid > .column {
      padding: 0;
    }
  }
}

.bookmark_header {
  .bookmark_search {
    width: auto;
    display: inline;
  }
}

.folders_list {
  overflow: auto;
  overflow-x: hidden;
  margin-top: 1em;

  & > .item {
    margin: 8px 0;
  }

  & > .ui.grid > .row {
    padding: 0.5em;
    vertical-align: middle;

    &.active {
      background: rgba(66, 131, 202, 0.16);
    }

    .column {
      padding: 0
    }
  }
}

.bookmark_search {
  width: 100%;

  &.ui.input > input {
    border-width: 0 0 1px 0;
    border-radius: 0;
    border-color: $grey;
  }
}

.ui.list > .bookmark_item.item {
  padding: 1em 0 !important;

  &:last-child {
    border-bottom: none;
  }

  .separator {
    margin: 0 1em;
    color: $grey;
  }

  .source_name {
    font-weight: normal;
    color: $grey;
  }

  .description {
    margin-top: 8px;

    .label {
      border: 0;
      color: $grey;
    }
  }
}

