@use "colors-helpers";

.position_relative {
  position: relative;
}

.display-inline {
  display: inline;
}


.display-iblock {
  display: inline-block !important;
}

.min-height-200 {
  min-height: 200px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.no-padding {
  padding: 0 !important;
}

.padding_r_l_0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}


.no-margin {
  margin: 0 !important;
}

.no-border {
  border: 0 none !important;
}

.no-shadow {
  box-shadow: none !important;
}

.mt-1 {
  margin-top: 8px !important;
}

.margin-right-4 {
  margin-right: 4px !important;
}

.margin-left-4 {
  margin-left: 4px !important;
}

.margin-right-8 {
  margin-right: 8px !important;
}

.margin-left-8 {
  margin-left: 8px !important;
}

.margin-bottom-4 {
  margin-bottom: 4px !important;
}


.padding-top_1em {
  padding-top: 1em;
}

.uppercase {
  text-transform: uppercase;
}


.transparent {
  opacity: 0;
}

.no-background {
  background-color: transparent !important;
}


.background_grey {
  background-color: colors-helpers.$darkWhite;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.nowrap {
  white-space: nowrap;
}

.flex_nowrap {
  flex-wrap: nowrap !important;
}

.text_ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  display: inline-block;
}

input {
  padding: 0.7em 1em;
}

.button {
  padding: 0.7em 1em;
  color: rgba(colors-helpers.$fullBlack, 0.6);
  font-weight: 400;
  border-radius: 0.3rem;
  text-transform: none;
  box-shadow: 0 0 0 1px colors-helpers.$border-color inset;
}

.webkit_text_size {
  -webkit-text-size-adjust: auto;
}

.flex_basis_150 {
  flex-basis: 150px;
}

.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(colors-helpers.$fullBlack, 0.6);
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 0.25em 0 0;
  padding: 0.78571429em 1.5em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: #cacbcd;
    background-image: none;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 colors-helpers.$border-color inset;
    color: rgba(colors-helpers.$fullBlack, 0.8);
  }

  &:active {
    background-color: #babbbc;
    background-image: "";
    color: rgba(colors-helpers.$fullBlack, 0.9);
    box-shadow: 0 0 0 1px transparent inset;
  }

  &:focus {
    background-color: #cacbcd;
    color: rgba(colors-helpers.$fullBlack, 0.8);
  }

  &.basic {
    background: transparent none;
    color: rgba(colors-helpers.$fullBlack, 0.6);
    font-weight: 400;
    border-radius: 0.28571429rem;
    text-transform: none;
    text-shadow: none;
    box-shadow: 0 0 0 1px colors-helpers.$border-color inset;

    &:hover {
      background: transparent none;
      color: rgba(colors-helpers.$fullBlack, 0.8);
      box-shadow: 0 0 0 1px rgba(colors-helpers.$border-base, 0.35) inset;
    }

    &:active {
      background: rgba(colors-helpers.$fullBlack, 0.02) none;
      color: rgba(colors-helpers.$fullBlack, 0.9);
      box-shadow: 0 0 0 1px rgba(colors-helpers.$fullBlack, 0.2) inset;
    }
  }

  &.primary {
    background-color: #2185d0;
    color: #fff;
    text-shadow: none;
    background-image: none;

    &:hover {
      background-color: #1678c2;
      color: #fff;
    }

    &:active {
      background-color: #1a69a4;
      color: #fff;
    }
  }

  &.compact {
    padding: 0.58928571em 1.125em;
  }

  &.icon {
    padding: 0.78571429em;
  }
}

.header {
  font-weight: 700;
  line-height: 1.3em;
  text-transform: none;
  text-decoration: none;
}

.small {
  font-size: 0.875em;
}

.large {
  font-size: 1.7em;
}

a {
  color: #4183c4;
  text-decoration: none;
  &:hover {
    color: #1e70bf;
    text-decoration: none;
  }
  &:active {
    color: #4183c4;
    text-decoration: none;
  }
  &:focus {
    color: #4183c4;
    text-decoration: none;
  }
}

img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent;

  &.circular {
    border-radius: 500rem;
  }
}

.material-symbols-outlined.text-2xl {
  line-height: 1.5rem;
}

#app-loader {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: black;
  }
}

.need_to_login {
  height: 60VH;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.action:hover {
  background: inherit !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}