@use "rtl/filters";
@use "colors-helpers";
@use "responsive-helpers";
@use "variables";

.filters {
  &__menu {
    .item.alphabetFilter {
      flex: 1 1 auto !important;

      @include responsive-helpers.mobile {
        .item {
          width: inherit !important;
        }
      }
    }
  }

  &__header {
    align-self: stretch;
    flex: 0 1 auto !important;
    padding: 0.6em 1em !important;
    white-space: nowrap;
  }
}

.filter {
  align-items: flex-start !important;
  overflow: hidden;
  padding: 0 !important;

  &::after {
    background: rgba(colors-helpers.$black, 0);
    content: "";
    transition: background 0.2s ease-out;
  }

  &--is-empty {
    flex: 0 0 auto !important;
  }

  &--is-active {
    .filter__wrapper {
      z-index: 2;
    }

    .label {
      z-index: 3;
    }

    &::after {
      background: rgba(colors-helpers.$black, 0.5);
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }

  &__wrapper {
    background: colors-helpers.$white;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 0.6em 1em !important;
    width: 100%;
  }

  &__title {
    margin-bottom: 0.7em;
  }

  &__state {
    display: flex;
  }

  &__text {
    @include responsive-helpers.mobile {
      width: auto;
    }

    display: flex;
    overflow: hidden;
    width: calc(100% - 1em);
  }

  &__fold-icon {
    flex: 0 0 1em;
    margin: 0 0 0 4px !important;
  }

  &__breadcrumb {
    &:last-child {
      flex: 0 1 auto;
      min-width: 1em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__separator {
    flex: 0 0 auto;
    font-weight: 900;
    padding: 0 0.2em;
  }

  .label {
    @include responsive-helpers.mobile {
      left: calc(100% + 1px);
    }

    border-radius: 0 !important;
    bottom: 100%;
    left: 100%;
    margin: 0 !important;
    position: absolute;
    text-align: center;
    transform: translate(-100%, calc(100% - 1px));
    // z-index: 100;

    .icon {
      margin: 0;
    }
  }
}

// Filter popups

.filter-popup {
  @include responsive-helpers.mobile {
    width: calc(100% - 30px);
  }

  @include responsive-helpers.small-mobile {
    bottom: 0 !important;
    margin: 0.71428571em 0 !important;
    position: fixed !important;
    top: variables.$main-menu-height !important;
  }

  overflow: hidden !important;
  padding: 0 !important;

  &__header {
    border-radius: 0 !important;

    .title {
      display: flex;

      .header {
        margin: 0 1rem;
        flex-grow: 2;
      }
    }

    .autocomplete {
      margin-top: 0.75em;
    }
  }

  &__content {
    @include responsive-helpers.small-mobile {
      height: 100%;
    }
  }

  &__wrapper {
    @include responsive-helpers.small-mobile {
      display: flex;
      height: 100%;
    }

    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  &__body {
    @include responsive-helpers.small-mobile {
      max-height: 100vh !important;
    }

    border-radius: 0 !important;

    .menu {
      border: 0;
      box-shadow: none !important;
      border-radius: 0 !important;
    }

    .item {
      color: colors-helpers.$blue;

      .filter__count {
        color: colors-helpers.$grey;
      }

      &.active {
        background: colors-helpers.$blue !important;
        color: colors-helpers.$white !important;

        .filter__count {
          color: colors-helpers.$white !important;
        }
      }
    }
  }
}

.alphabetFilter {
  a.item {
    display: inline-flex !important;
    padding: 0 0.5em !important;
  }

  a.active {
    font-weight: bold !important;
  }
}

//aside filters styles
.filters-aside-wrapper {
  padding: 0 1em;
  background-color: colors-helpers.$offWhite;

  @include responsive-helpers.tablet {
    padding: 0 1em !important;
  }

  @include responsive-helpers.mobile {
    padding: 0;

    &>div {
      background: none;
      padding: 0 !important;
    }
  }
}

.filter_aside {
  border-bottom: 1px solid colors-helpers.$midWhite;
  padding: 1rem 0;

  &:last-child {
    border-bottom: none;
  }

  &>.title {
    color: colors-helpers.$blue;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.5em 0;
  }

  &:first-child>.title {
    padding-top: 0;
  }

  .date-filter-presets {
    display: flex;
  }

  .date-filter {
    min-width: auto;
    margin: 0.5em 0;
    padding: 0;

    .item {
      padding: 1em 0;

      .title {
        padding: 0;

        .icon {
          line-height: 1em;
        }
      }

      .content {
        width: fit-content;

        input {
          min-width: 200px;
        }

        .input .label {
          vertical-align: middle;
          line-height: 2em;
        }
      }
    }
  }
}

.filters_aside_tree_modal {
  text-align: end;
  width: auto;

  &>.header {
    display: flex;
    align-items: center;

    text-align: start;
    margin: 0;
    padding-top: 0;
  }

  &>.content {
    text-align: start;
    padding-bottom: 2.5em;
  }

  &>.icon {
    margin: 0.5em 0.5em 0;
    cursor: pointer;
  }

  .stat {
    margin-right: 0.5em;
    text-align: right;
    flex: 1;

    .rtl & {
      margin-left: 0.5em;
      margin-right: 0;
      text-align: left;
    }
  }
}

.tree_item_modal_content {
  .item .list {
    margin: 0 0 0 0.5em;

    .rtl & {
      margin: 0 0.5em 0;
    }

    .item {
      padding-bottom: 0;
    }
  }
}

.filters_aside_tree_modal,
.filter_aside {
  .search-input {
    max-width: 180px;
    width: 100%;
    margin-bottom: 1em;

    padding: 2px 8px;
    border: 1px solid colors-helpers.$blue;
    border-radius: 8px;
    font-size: 14px;
  }

  .stat {
    opacity: 0.4;
    padding-left: 1em;
    margin-left: auto;
    text-align: right;
    flex: 1;

    .rtl & {
      padding-left: 0;
      padding-right: 1em;
      margin-left: 0;
      margin-right: auto;
      text-align: left;
    }
  }
}

.tree_item_content {
  display: flex;
  max-width: 80vw; // Required for mobile. Limits column width by viewport.
  width: 100%;

  .tree_item_title {
    margin-left: 8px;

    .rtl & {
      margin-left: 0;
      margin-right: 8px;
    }
  }

  &>.icon {
    margin: 0 auto 0 0;
    font-size: 1.2em;
    line-height: 1em;

    .rtl & {
      margin: 0 0 0 auto;
    }
  }
}

.filter_aside_labels {
  margin-bottom: 1em;
  gap: 0.5em;
  display: flex;

  .label {
    cursor: pointer;
    border: 1px solid colors-helpers.$grey;

    .rtl & {
      padding-right: 0.5em;
      padding-left: 2px;
    }

    .icon {
      padding: 0;
      opacity: 0.4;
      margin: 0 0 0 0.5em;
      height: auto;
      width: auto;

      .rtl & {
        margin-left: 0;
        margin-right: 0.5em;
      }
    }
  }
}

.filter_aside_labels,
.pagination-results {
  @include responsive-helpers.mobile {
    padding: 0 1em;
  }
}

.filters-aside-ct {
  font-weight: bold;


  .filters-aside-ct {
    font-weight: normal;
  }
}


.filter-popup {
  &__body {
    max-height: 350px;
    min-width: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .highlight {
      background-color: rgba(colors-helpers.$yellow, 0.2);
    }

    &.date-filter {
      max-height: 450px;

      .DayPickerInput {
        display: block;
      }

      .DayPicker-Caption > div {
        font-size: 1rem;
      }
    }

    &.sections-filter {
      img {
        margin-bottom: .2em;
        width: 50px !important;
      }

      .header {
        flex: 1 1 auto;
        border-radius: 4px;
        padding: 4px 4px 8px !important;

        &:hover {
          background-image: linear-gradient(to bottom, colors-helpers.$darkWhite, rgba(colors-helpers.$darkWhite, 0));
        }

        &.active {
          background-image: linear-gradient(to bottom, rgba(colors-helpers.$blue, 0.3), rgba(colors-helpers.$blue, 0));
        }
      }
    }
  }

  .ltr {
    .hierarchy {
      .item {
        &.l1 { padding-left: 1rem; }
        &.l2 { padding-left: 2rem; }
        &.l3 { padding-left: 3rem; }
        &.l4 { padding-left: 4rem; }
        &.l5 { padding-left: 5rem; }
        &.l6 { padding-left: 6rem; }
      }
    }
  }

  .rtl {
    .hierarchy {
      .item {
        &.l1 { padding-right: 1rem; }
        &.l2 { padding-right: 2rem; }
        &.l3 { padding-right: 3rem; }
        &.l4 { padding-right: 4rem; }
        &.l5 { padding-right: 5rem; }
        &.l6 { padding-right: 6rem; }
      }
    }
  }
}