@import 'rtl/homepage';

.homepage {
  flex: 1 1 auto;

  &__section {
    @include mobile {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    margin-bottom: 4rem;
    margin-top: 4rem;

    .ui.horizontal.divider {
      &::before,
      &::after {
        background-image: linear-gradient(to right,  lighten($blue, 40%), lighten($blue, 40%));
        background-size: 100% 1px;
      }
    }
  }

  &__header {
    @include mobile {
      padding-bottom: 2rem;
      padding-top: 1rem;
    }
    background-attachment: fixed, scroll, scroll;
    background-image:
    linear-gradient(to bottom, $blue, transparent),
    radial-gradient(ellipse at bottom center, lighten($blue, 15%) 0, transparent 50%),
    linear-gradient(to bottom, $blue, lighten($blue, 5%))
    ;
    background-position: center $main-menu-height, center center, center center;
    background-repeat: no-repeat;
    background-size: 100% 5rem, cover, cover;
    margin-top: 0;
    padding-bottom: 4rem;
    padding-top: 2rem;
  }

  &__title {
    @include mobile {display: none;}
    margin-bottom: .4em !important;
  }

  &__website-sections {
    .header {
      color: darken($blue, 20%);
      transition: color .2s ease-out;

      &:hover {
        color: $blue;
      }
    }
  }

  &__iconsrow {
    img {
      margin-bottom: .2em;
      transition: transform .2s ease-out;
      width: 50px !important;
    }

    .row .center.aligned.column {
      align-items: stretch;
      display: flex !important;
      justify-content: center;
    }

    a {
      border-radius: 4px;
      flex: 1 1 auto;
      padding: 4px 4px 8px !important;

      &:hover {
        img {
          transform: translateY(-.3rem);
        }
      }
    }
  }

  &__search {
    input {
      border-radius: 4px !important;
      font-size: 14px;
    }

    .search-omnibox {
      max-width: none;
    }
  }

  &-posters {
    padding-left: 1rem !important;
    padding-right: 1rem !important;

    .column {
      padding: 0 !important;
    }
  }
}

.thumbnail {
  @include mobile {
    margin-bottom: 1rem;
    padding-top: percentage(1/2.5);
  }
  height: 0;
  overflow: hidden;
  padding-top: percentage(9/16);
  position: relative;

  .label {
    position: absolute;
    right: 1em;
    text-transform: uppercase;
    top: 1em;
  }

  a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &::before {
      background-image: linear-gradient(to top, rgba($black, .9), transparent);
      bottom: 0;
      content: '';
      height: 50%;
      opacity: .8;
      position: absolute;
      transition: opacity .3s;
      width: 100%;
      z-index: 1;
    }
  }

  &:hover {
    .thumbnail__header {
      transform: translate(0, -.5em);
    }

    a {
      &::before {
        opacity: 1;
      }
    }
  }

  &__header {
    bottom: .5em;
    left: .5em;
    margin: 0 !important;
    position: absolute;
    right: .5em;
    text-shadow: 0 1px $black, 0 2px $black;
    transition: transform .5s ;
    z-index: 2;

    .content,
    .sub {
      color: $white !important;
      font-weight: 400;
    }

    .sub {
      text-transform: uppercase;
    }

    .homepage-posters & {
      bottom: 1em;
      left: 1em;
      right: 1em;
    }
  }

  &__image {
    position: absolute !important;
    top: 0;
    z-index: 0;
  }

  .homepage-posters & {
    padding-top: percentage(1.6/1);

    &__image {
      background-position: center center;
      background-size: cover;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
  }
}
