.homepage {
  &__header {
    padding-top: 3em;
  }

  &__title {
    margin-bottom: .4em !important;
  }

  &__featured {
    // background: $darkWhite;
    padding-bottom: 2em;
    padding-top: 3em;
  }

  &__section {
    margin-bottom: 3em;
  }

  &__iconsrow {
    img {
      margin-bottom: .2em;
      width: 50px !important;
    }
  }

  &-posters {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    .column {
      padding: 0!important;
    }
  }
}

.thumbnail {
  position: relative;
  height: 0;
  padding-top: percentage(9/16);
  overflow: hidden;
  margin-bottom: 1em;
  .label {
    position: absolute;
    top: 1em;
    right: 1em;
    text-transform: uppercase;
  }
  a {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    &:before {
      position: absolute;
      content:'';
      bottom: 0;
      width: 100%;
      background-image: linear-gradient(to top, rgba($black,.9), transparent);
      height: 50%;
      z-index: 1;
      opacity: 0.8;
      transition: opacity .3s;
    }

  }
  // background-image: linear-gradient(to bottom, $blue, darken($blue, 20%));
  &:hover {
    .thumbnail__header {
      transform: translate(0, -.5em);
    }
    a {
      &:before {
        opacity: 1;
      }
    }
    
  }

  
  &__header {
    // background: red;
    transition: transform .5s ;
    bottom: .5em;
    left: .5em;
    right: .5em;
    margin: 0 !important;
    position: absolute;
    z-index: 2;
    
    .content,
    .sub {
      font-weight: 400;
      color: $white !important;
    }
    
    .sub {
      text-transform: uppercase;
    }
    
    .homepage-posters & {
      // background: red;
      bottom: 1em;
      left: 1em;
      right: 1em;
    }
  }
  
  &__image{
    position: absolute !important;
    top:0;
    z-index: 0;
    // mix-blend-mode: screen;
    // filter: grayscale(20%) contrast(100%);
    // opacity: .5;
  }
  .homepage-posters & {
    padding-top: percentage(1.6/1); 
    

    &__image{
      top: 0;
      bottom: 0;
      left: 0;
      right:0;
      background-size: cover;
      background-position: center center;
    }
  }  
}