.homepage {
  &__header {
    padding-top: 3em;
  }

  &__title {
    margin-bottom: .4em !important;
  }

  &__featured {
    // background: $darkWhite;
    padding-bottom: 2em;
    padding-top: 3em;
  }

  &__section {
    margin-bottom: 3em;
  }

  &__iconsrow {
    img {
      margin-bottom: .2em;
      width: 50px !important;
    }
  }
}

.thumbnail {
  position: relative;
  height: 0;
  padding-top: percentage(9/16);
  overflow: hidden;
  margin-bottom: 1em;
  .label {
    position: absolute;
    top: 1em;
    right: 1em;
    text-transform: uppercase;
  }
  a {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    &:before {
      position: absolute;
      content:'';
      bottom: 0;
      width: 100%;
      background-image: linear-gradient(to top, rgba($black,.8), transparent);
      height: 50%;
      z-index: 1;
      // transition: height .3s ease-in-out;
    }
  
  }
  // background-image: linear-gradient(to bottom, $blue, darken($blue, 20%));
  &:hover {
    .thumbnail__header {
      bottom: .7em;
    }
    &:before {
      // height: 60%;
    }
  }

  
  &__header {
    // background: red;
    transition: bottom .1s ease-out;
    bottom: .5em;
    left: .5em;
    margin: 0 !important;
    position: absolute;
    z-index: 2;
    
    .content,
    .sub {
      font-weight: 400;
      color: $white !important;
    }
    
    .sub {
      text-transform: uppercase;
    }
  }
  
  &__image{
    position: absolute !important;
    top:0;
    z-index: 0;// mix-blend-mode: screen;
    // filter: grayscale(20%) contrast(100%);
    // opacity: .5;
  }
}