@use "sass:math";
@use "sass:color";
@use 'rtl/homepage';
@use "colors-helpers";
@use "responsive-helpers";
@use "latest-updates-card-list";

.homepage {
  flex: 1 1 auto;

  &__featured {
    padding-top: 4em;
  }

  &__section {

    &__iconsrow {
      .iconsTitleRow {
        .iconsTitle {
          position: relative;
          top: 40px;
          background: #FFF;
          font-size: 2.25em;
          font-weight: bold;
          padding: 12px 30px 17px 30px;
          border: 2px solid #DBECF9;
          border-radius: 9px;
          z-index: 1;
          @include responsive-helpers.mobile {
            font-size: 1.5em;
          }
        }
      }
    }

    &__latestUpdates {
      background: rgba(colors-helpers.$blue-medium, 0.05);
      border-top: 2px solid #DBECF9;
      padding: 1.5em 55px;

      .cardsTitle {
        width: 100%;
        padding: 2em 0 0 0;
        font-size: 1.5em;
        font-weight: 700;
        color: #134D78;
        margin-bottom: 0.5em;
        @include responsive-helpers.mobile {
          padding: 2em 0 0 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .latestUpdateSection {
    padding-top: 1em;
  }

  .home-social-section {
    @include responsive-helpers.mobile {
      margin-bottom: 1rem;
    }
    margin-bottom: 4em;
  }

  &__header {
    @include responsive-helpers.mobile {
      padding-bottom: 2rem;
      padding-top: 1rem;
    }
    background: #1A4378;
    margin-top: 0;
    padding-bottom: 4rem;
  }

  &__title {
    margin-bottom: .4em;
  }

  &__website-sections {
    a {
      color: color.adjust(colors-helpers.$blue, $lightness: -20%);
      transition: color .2s ease-out;

      &:hover {
        color: colors-helpers.$blue;
      }
    }
  }

  &__iconsrow {
    background: #F3F4F5;
    border-top: 2px solid #DBECF9;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    .iconsTitleRow {
      background: #FFF;

      .iconsTitle {
        position: relative;
        top: 40px;
        background: #FFF;
        font-size: 2.25em;
        font-weight: bold;
        padding: 12px 30px 17px 30px;
        border: 2px solid #DBECF9;
        border-radius: 9px;
        z-index: 1;
        @include responsive-helpers.mobile {
          font-size: 1.5em;
        }
      }
    }

    .activeSectionsIcons {
      padding-top: 1.5em;
    }

    img {
      margin-bottom: .2em;
      transition: transform .2s ease-out;
      width: 50px;
    }

    .topIcon {
      padding-bottom: 3em;
    }

    a {
      border-radius: 4px;
      flex: 1 1 auto;
      padding: 4px 4px 8px;

      &:hover {
        img {
          transform: translateY(-.3rem);
        }
      }
    }
  }

  &__iconsrow.socialBackground {
    background: #F4F9FB;
    margin-left: 0;
    margin-right: 0;
  }
}

.thumbnail {
  @include responsive-helpers.mobile {
    margin-bottom: 1rem;
    padding-top: math.percentage(math.div(1, 2.5));
  }
  height: 0;
  overflow: hidden;
  padding-top: math.percentage(math.div(9, 16));
  position: relative;

  .label {
    position: absolute;
    right: 1em;
    text-transform: uppercase;
    top: 1em;
  }

  a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &::before {
      background-image: linear-gradient(to top, rgba(colors-helpers.$black, .9), transparent);
      bottom: 0;
      content: '';
      height: 50%;
      opacity: .8;
      position: absolute;
      transition: opacity .3s;
      width: 100%;
      z-index: 1;
    }
  }

  &:hover {
    .thumbnail__header {
      transform: translate(0, -.5em);
    }

    a {
      &::before {
        opacity: 1;
      }
    }
  }

  &__header {
    bottom: .5em;
    left: .5em;
    margin: 0;
    position: absolute;
    right: .5em;
    text-shadow: 0 1px colors-helpers.$black, 0 2px colors-helpers.$black;
    transition: transform .5s;
    z-index: 2;
    font-size: 1.5em;

    .content,
    .sub {
      color: colors-helpers.$white;
      font-weight: 400;
    }

    .sub {
      text-transform: uppercase;
      font-size: 0.75em;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    z-index: 0;
  }
}

.publications-twitter {
  max-width: 550px !important;
}

.tweet {
  margin-bottom: 1.5rem !important;

  &--username {
    color: rgba(colors-helpers.$grey, .75);
  }

  &--media {
    max-width: 100%;
    height: auto;
  }
}

.home-social-section {
  .titles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 25px;

    h4 {
      margin-bottom: 0;
      color: #134D78;
      font-size: 1.6em;
      margin-right: 0.2em;

      @include responsive-helpers.mobile {
        font-size: 1.5em;
      }
    }

    a {
      flex-grow: 0;
    }
  }

  .read-more-bottom {
    width: 100%;
    text-align: center;
    padding: 15px;
  }
}

.home-blog-posts {
  .blog-posts {
    max-width: 100%;

    .post:last-of-type,
    .divider:last-of-type {
      margin-bottom: 0 !important;
    }
  }

  .remove-indent {
    padding-left: 0 !important;
  }

  .entry {
    position: relative;

    * {
      display: none;
      color: #828282;
      font-weight: 400;
    }

    *:first-of-type {
      display: inline;
      width: auto;
    }

    img,
    style,
    .bwg_container {
      display: none !important;
    }

    .date {
      font-weight: bold;
      color: #000;
    }
  }

  .read-more-link {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
  }
}

.home-twitter {
  background-color: #F4F9FB;

  .twitter-avatar {
    border-radius: 50%;
    width: 45px;
    height: auto;
  }

  .tweet-title-wrapper {
    display: flex;
    align-items: center;

    .tweet-title {
      display: inline-flex;
      flex-direction: column;
    }
  }

  .tweet-friendly-date {
    text-align: right;
    color: rgba(colors-helpers.$grey, 0.75);
    margin-top: 5px;
  }

  hr {
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
