@use 'rtl/layout';
@use 'variables' as *;
@use 'colors-helpers' as *;
@use 'responsive-helpers' as *;

@font-face {
  font-family: 'AmiriArabic';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/amiri/v27/J7aRnpd8CGxBHpUrtLMA7w.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;
}


:root {
  scrollbar-color: #646464 #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
.header {
  font-family: AmiriArabic, "Assistant", Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  font-family: AmiriArabic, "Assistant", Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;

  &.noscroll {
    overflow: hidden;

    &--smallmobile {
      @include small-mobile {
        overflow: hidden;
      }
    }
  }

}


.layout {
  height: 100vh;

  &__sidebar {
    @include small-mobile {
      width: 100%;
    }

    background: $white;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transform: translate(-100%, 0);
    transition: transform .3s;
    width: $sidebar-width;
    z-index: 900;

    &.is-active {
      transform: none;
    }

    .layout__sidebar-header {
      height: $main-menu-height;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 0 1em;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #1A4378 !important;

      @include mobile {
        gap: 0.5em;
      }

      small {
        line-height: 1;
      }
    }

    &-menu {
      border-right: 1px solid $border-color;
      bottom: 0;
      left: 0;
      overflow: auto;
      position: absolute;
      right: 0;
      top: $main-menu-height;
    }

    &-search {
      flex: 1 0 auto !important;
    }
  }

  &__main {
    min-height: 100%;
  }

  &__footer {
    background: $black;
  }

  &__secondary-header {
    background: $white;
    border-bottom: 1px solid $border-color;
    left: 0;
    min-height: $secondary-header-height;
    right: 0;
  }
}


@media only screen and (min-width: $largeMonitorBreakpoint) {
  .layout:not(.is_fullscreen) {
    .layout__sidebar {
      top: $main-menu-height;
      transform: none;

      .layout__sidebar-header {
        display: none;
      }

      &-menu {
        top: 0;
      }
    }

    .layout__main {
      margin-left: $sidebar-width;
    }

    .layout__secondary-header {
      left: $sidebar-width;
    }
  }
}

.donate-button {
  background: #fc6719 !important;
  color: white !important;
  font-size: .92857143rem !important;
}

.auth-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  border: 1px solid #2185d0;
  color: gray;
  cursor: pointer;
  background: $white;
  font-weight: 700;
  padding: 0;
  transition: color 150ms, background-color 150ms;

  &:hover {
    color: black;
  }
}

.vh-button {
  font-size: .92857143rem !important;
  margin: 0 0.5em !important;
  background: $white !important;
}

.auth-popup {
  text-align: center;
  padding: 0 2em;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tooltip_if_need {
  max-width: 50% !important;
  width: fit-content !important;
  transform: translateX(50%) !important;
}

.donationPopup {
  .donate-button {
    background: #fc6719 !important;
    color: white !important;
    font-size: .92857143rem !important;

    i {
      margin-left: 6px !important;
      margin-right: 0 !important;
      float: right;
    }
  }

  i.close.icon {
    color: #000;
  }

  .popupHeader {
    height: 2em;
  }
}

.donationPopup.rtl {
  .donate-button {
    i {
      margin-left: 0 !important;
      margin-right: 6px !important;
      float: left !important;
    }
  }
}

.headroom-z-index-801 .headroom {
  z-index: 801 !important;
}

.headroom-z-index-802 .headroom {
  z-index: 802 !important;
}

.layout__content {
  .headroom--pinned {
    transform: translateY($main-menu-height) !important;
  }
}

.ltr {
  .layout__content {
    .headroom--pinned {
      @include tablet-mobile {
        margin-left: 0;
        width: 100%;
      }

      margin-left: $sidebar-width;
    }
  }
}

.rtl {
  .layout__content {
    .headroom--pinned {
      @include tablet-mobile {
        margin-right: 0;
        width: 100%;
      }

      margin-right: $sidebar-width;
      margin-left: 0;
    }
  }
}