$player-color: $black;

.mediaplayer {
  background: transparent;
  user-select: none;

  video,
  audio,
  iframe,
  object,
  embed {
    display: block;
    width: 100%;
    max-height: 100%;
  }

  &:-webkit-full-screen { // sass-lint:disable no-vendor-prefixes
    height: 100%;
    width: 100%;
  }

  &__wrapper {
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__controls {
    align-items: flex-start;
    background: linear-gradient(to top, $player-color, rgba($player-color, .85));
    color: $white;
    direction: ltr;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    padding: 4px;
    position: relative;
    top: 0;
    transition: opacity .25s, top .25s;

    &--is-fade {
      opacity: 0;
      top: 64px;
    }

    .buttons-wrapper {
      display: flex;
    }

    button {
      background: none;
      border: 0;
      border-radius: 4px;
      height: 40px;
      min-width: 40px;
      padding: 0 .5rem;
      text-transform: lowercase;
      &:hover {background: rgba($white, .2);}
      &:focus {outline: none;}
      i {margin: 0 !important;}
    }
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__timecode {
    font-size: 12px;
    line-height: 40px;
    padding: 0 1rem;
    white-space: nowrap;
  }

  &__playback-rate,
  &__volume,
  &__audiovideo,
  &__languages,
  &__seekbar {
    height: 40px;
  }

  &__playback-rate,
  &__languages {
    .dropdown {
      height: 100%;
    }
  }

  &__audiovideo {
    .is-active {
      text-decoration: underline;
    }
  }

  &__volume {
    position: relative;
  }

  &__seekbar {
    flex: 1 0 100%;
    height: 20px;
    margin: -4px -4px 0;
    order: -1;
    padding: 0 8px;

    &:focus {
      outline: none;
    }
  }

  &__onscreen {
    &-controls {
      align-items: center;
      display: flex;
      flex: 1 0 auto;
      justify-content: center;

      &:focus {
        outline: none;
      }
    }

    &-play {
      background: rgba($white, .9);
      border: .7em solid rgba($black, .9);
      border-radius: 50%;
      color: $black;
      height: 8em;
      padding: 0;
      width: 8em;

      &:focus {
        outline: none;
      }

      .icon {
        margin-left: .15em;
        margin-right: 0;
      }
    }
  }
}

.volume-popover {
  background: rgba(lighten($player-color, 0), .9);
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;

  &__wrapper {
    background: rgba(darken($player-color, 20%), 1);
    border-radius: 3px;
    display: flex;
    flex-direction: column-reverse;
    margin: 1rem 0;
    width: 6px;

    &:focus {
      outline: none;
    }
  }

  &__bar {
    &.is-full {
      background: $white;
      border-radius: 0 0 3px 3px;
    }
  }

  &__knob {
    background: $white;
    border-radius: 6px;
    height: 12px;
    left: -3px;
    position: relative;
    top: -6px;
    width: 12px;
  }
}

.seekbar {
  height: 100%;
  position: relative;

  &__bar {
    border-radius: 3px;
    height: 6px;
    position: absolute;
    top: 7px;

    &.is-empty {
      background: rgba(darken($player-color, 20%), 1);
      width: 100%;
    }

    &.is-played {
      background: rgba($white, 1);
      z-index: 1;
    }

    &.is-loaded {
      background: rgba($white, .3);
    }

    &.is-slice {
      background-color: $blue;
      background-image: linear-gradient(45deg, rgba($white, .25) 25%, transparent 25%, transparent 50%, rgba($white, .25) 50%, rgba($white, .25) 75%, transparent 75%, transparent);
      background-size: 1rem 1rem;
      border-radius: 0;
      height: 4px;
      top: 13px;
    }
  }

  &__knob {
    left: 0;
    position: absolute;
    width: 100%;

    &::before {
      background: $white;
      border-radius: 6px;
      content: '';
      height: 12px;
      position: absolute;
      right: -6px;
      top: -3px;
      width: 12px;
    }
  }

  &__slicehandle {
    bottom: 0;
    height: 102px;
    margin-left: -1px;
    position: absolute;
    width: 30px;
    z-index: 100;

    &--right {
      margin-left: -29px;
    }

    &-knob {
      background: $blue;
      border: 2px solid $white;
      border-radius: 6px 6px 0 0;
      border-width: 2px 2px 0;
      cursor: ew-resize;
      height: 30px;
      margin-bottom: 20px;
      position: absolute;
      top: 24px;
      width: 30px;

      &::before {
        background: $blue;
        border: 2px solid $white;
        border-radius: 6px 6px 6px 2px;
        content: '';
        height: 40px;
        left: -2px;
        position: absolute;
        right: -2px;
        top: 20px;
        transform: skewy(-30deg);
        transform-origin: left bottom;
        z-index: -1;

        .seekbar__slicehandle--right & {
          border-radius: 6px 6px 2px;
          transform: skewy(30deg);
          transform-origin: right bottom;
        }
      }

      &::after {
        background: $white;
        border-radius: 2px;
        box-shadow: 6px 0 0 $white, 12px 0 0 $white;
        content: '';
        height: 16px;
        left: 6px;
        position: absolute;
        top: 10px;
        width: 2px;
      }
    }

    &-line {
      background: $white;
      border-radius: 1px;
      bottom: 0;
      height: 20px;
      left: 0;
      position: absolute;
      width: 2px;

      .seekbar__slicehandle--right & {
        left: auto;
        right: 0;
      }
    }

    &-time {
      background: rgba($black, .9);
      border-radius: 10px;
      font-size: 12px;
      line-height: 20px;
      padding: 0 16px;
      position: absolute;
      right: 50%;
      top: 0;
      transform: translate(50%, 0);
      white-space: nowrap;
    }
  }
}
