@import '../includes/colors-helpers';
// See TimedPopup.js, solves existing bug:
// https://github.com/Semantic-Org/Semantic-UI-React/issues/1065
.popup {
  // background: #fff;
  // border: 1px solid #d4d4d5;
  // border-radius: .28571429rem;
  // box-shadow: 1px 1px 0 0 #bababc;
  // color: rgba(0, 0, 0, .87);
  // font-style: normal;
  // font-weight: 400;
  // line-height: 1.4285em;
  // margin: 0 0 .71428571em;
  // max-width: 250px;
  // padding: .833em 1em;
  // z-index: 1900;

  .content {
    // text-align: center;
    // width: 200px;
  }
}

.search-omnibox {
  max-width: 600px;
  width: 100%;

  .input {
    width: 100%;
  }

  > .results {

    &.visible {
      /* Limit suggest box height and allow scrolling if more then ~10. */
      max-height: 500px;
      overflow-y: scroll;
    }

    // this falls sub-pixel apart from the category name table-cell,
    // it doesn't look good. so we cancel it
    > .category {
      > .name {
        border-bottom: none !important;
      }

      .result {
        background-color: $white;
        //border-bottom: none !important;
        &:last-child {
          border-bottom: 1px solid rgba(34, 36, 38, .1) !important;
          margin-bottom: 1px;
        }

        &:hover {
          //background-color: rgba($blue, .075) !important;
          background-image: linear-gradient(to bottom, rgba($blue, 0.125), rgba($blue, 0)) !important;
        }
      }

      &:last-child {
        .result:last-child {
          border-bottom: none !important;
          margin-bottom: 1px;
        }
      }
    }
  }
}

.search-result-rtl {
  .title {
    direction: rtl;
    display: inline-block;
  }
}

/* Make hightlights in search also bold (not only italic).*/
.search-results em {
  font-weight: bold;
}

/* Do not display images in doc files converted to html as they are broken */
.doc2html {
  img {
    display: none;
  }
}

/* Program filters hack (rename, move to filters)*/
.filter-letters {
  flex-direction: column !important;
  flex-wrap: wrap !important;
  height: 600px !important;
  width: auto !important;
}

/* space between groups in playlist (events) */
// .avbox__playlist-view-section {
//   padding-bottom: 2rem !important;
// }

/* application loader screen */
#app-loader {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: black;
  }
}

/* hide iPhone native controls - see iphone-inline-video */
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
  opacity: 0;
  pointer-events: none;
  width: 5px;
}

.transparent {
  opacity: 0;
}

/* player on mobile devices */
.avbox__player.mobile-device {
  height: auto;
  padding-top: 0;

  .avbox__media-wrapper {
    overflow: visible;
    padding-top: 0;
    position: relative;
  }

  .mediaplayer__wrapper {
    position: relative;
  }

  audio {
    margin-top: 30px;
  }

  select {
    background: transparent;
    border-width: 0;
    padding: 0.8em 0;
    max-width: 8rem;

    &:focus {
      outline: none;
    }
  }
}

/* limit the height of the media player languages dropdown in order to not get out of the screen */
.mediaplayer__languages .ui.floating.dropdown > .menu {
  max-height: 220px;
}

.avbox__playlist-prev-button {
  i.icon {
    margin: 0 .25rem 0 0 !important;
  }
}

.avbox__playlist-next-button {
  i.icon {
    margin: 0 0 0 .25rem !important;
  }
}

.rtl {
  .avbox__playlist-prev-button {
    i.icon {
      margin: 0 0 0 .25rem !important;
    }
  }

  .avbox__playlist-next-button {
    i.icon {
      margin: 0 .25rem 0 0 !important;
    }
  }
}

// filters redesign
// .index-filters {
//   margin-top: .5rem !important;
//   .item {
//     &.header {
//       padding: .95714286em 1.14285714em !important;
//     }
//     padding: .35714286em 1.14285714em !important;
//     .header {
//       margin: 0;
//       .sub {
//         color: $blue;
//       }
//     }
//   }
// }

.filter-popup {

  &__body {
    max-height: 350px;
    min-width: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &.segment {
      padding: 0;
    }

    .highlight {
      background-color: rgba($yellow, 0.2);
    }

    &.date-filter {
      max-height: 450px;

      .DayPickerInput {
        display: block;
      }

      .DayPicker-Caption > div {
        font-size: 1rem;
      }
    }

    &.sections-filter {
      img {
        margin-bottom: .2em;
        width: 50px !important;
      }

      .row .center.aligned.column {
        display: flex !important;
        justify-content: center;
        align-items: stretch;
      }

      .header {
        flex: 1 1 auto;
        border-radius: 4px;
        padding: 4px 4px 8px !important;

        &:hover {
          background-image: linear-gradient(to bottom, $darkWhite, rgba($darkWhite, 0));
        }

        &.active {
          background-image: linear-gradient(to bottom, rgba($blue, 0.3), rgba($blue, 0));
        }
      }
    }
  }

  .ltr {
    .hierarchy {
      .item {
        &.l1 {
          padding-left: 1rem;
        }

        &.l2 {
          padding-left: 2rem;
        }

        &.l3 {
          padding-left: 3rem;
        }

        &.l4 {
          padding-left: 4rem;
        }

        &.l5 {
          padding-left: 5rem;
        }

        &.l6 {
          padding-left: 6rem;
        }
      }
    }
  }

  .rtl {
    .hierarchy {
      .item {
        &.l1 {
          padding-right: 1rem;
        }

        &.l2 {
          padding-right: 2rem;
        }

        &.l3 {
          padding-right: 3rem;
        }

        &.l4 {
          padding-right: 4rem;
        }

        &.l5 {
          padding-right: 5rem;
        }

        &.l6 {
          padding-right: 6rem;
        }
      }
    }
  }
}

.field.slice-button-mobile input {
  font-size: 16px !important;
}

.shareCopyLinkButton {
  width: 10em;
  height: 37px;
  margin: 0 0 0 10px !important;
}

.mobileShareCopyLinkButton {
  width: 10em;
  height: 100%;
  margin: 0 0 0 10px !important;
}

.embed-share-button {
  width: 46px;
  height: 46px;
}

.rtl {
  .mobileShareCopyLinkButton, .shareCopyLinkButton {
    margin: 0 10px 0 0 !important;
  }
}

.mediaplayer__onscreen-share-bar-mobile {
  display: flex;
  padding-bottom: 10px;
  height: 3.5em;
}

.mediaplayer__onscreen-share-bar-mobile-link {
  width: 100%;
}

.slice-button-mobile .input {
  height: 3.5em;
}

.slice-button-mobile .input .button {
  width: 7em;
}

.mediaplayer__onscreen-share-bar {
  display: flex;
}

.share-bar {
  .social-buttons {
    align-items: center;
    background: rgba($black, .8);
    border-radius: calc(36px / 2 + .5rem);
    display: flex;
    margin: auto 0 1rem;
    padding: .5rem .25rem;

    .SocialMediaShareButton {
      cursor: pointer;
      margin: 0 .25rem;
    }
  }
}

.tweet {
  margin-bottom: 1.5rem !important;

  &--username {
    color: rgba($grey, .75);
  }

  &--media {
    max-width: 100%;
    height: auto;
  }
}

.blog-posts {
  max-width: 550px;
}

.post {
  margin-bottom: 1.5rem !important;

  /* ********** wordpress style ********** */

  img.userpic, img.ngg-singlepic {
    float: left;
    padding: 0 5px 5px 0;
    border: 0 none;
  }

  .a-title {
    display: block;
    padding: 0;
    margin: 0 0 0.5ex 0;
    line-height: 10px;
    font-size: 10px;
    font-weight: bold;
    color: #000080;
  }

  .a-link {
    padding: 0;
    margin: 0 0 -1.0ex;
    line-height: 10px;
    font-size: 10px;
  }

  .a-link-first {
    padding: 0;
    margin: 0;
    line-height: 10px;
    font-size: 10px;
  }

  .a-link-last {
    display: block;
    padding: 0;
    margin: 0 0 2.4ex 0;
    line-height: 10px;
    font-size: 10px;
  }

  .entry p {
    margin: 0 0 0.6ex 0;
  }

  .entry .bb-p {
    margin-top: 10px;
  }

  .entry ul, .entry ol {
    margin: 0 0 15px 40px;
  }

  .entry ul {
    list-style-type: square;
  }

  .entry li {
    margin: 0 0 5px 0;
  }

  .entry ul li ul, .entry ul li ol, .entry ol li ul, .entry ol li ol {
    margin: 5px 0 5px 30px;
  }

  .entry img {
    //max-width: 445px;  // laitman.ru
    max-width: 100%;
    border: 0 none;
  }

  .entry img.left {
    padding: 6px;
    margin: 0.5em 15px 0.5em 0;
    border: 1px solid #ccc;
    background: #eee;
    float: left;
    clear: left;
  }

  .entry img.right {
    padding: 6px;
    margin: 0.5em 0 0.5em 15px;
    border: 1px solid #ccc;
    background: #eee;
    float: right;
    clear: right;
  }

  .entry img.center {
    display: block;
    padding: 8px;
    margin: 0 auto 1.5em auto;
    border: 1px solid #ccc;
    background: #eee;
    float: none;
    clear: both;
  }

  .entry img.off {
    padding: 0 !important;
    border: none !important;
  }

  .entry img.stack {
    clear: none !important;
  }

  .entry {
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
  }

  .entry a {
    text-decoration: underline;
  }

  .sub-pages ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .bborder {
    border-bottom: 1px solid black;
  }

  .clear {
    clear: both;
    height: 1px;
    font-size: 1px;
    padding: 5px 0 0;
  }

  .ngg-imagebrowser {
    clear: both;
    padding-top: 10px;
  }

  .ngg-imagebrowser img {
    margin: 0 auto;
  }

  .ngg-imagebrowser h3 {
    display: none;
  }

  .ngg-imagebrowser .ngg-imagebrowser-desc {
    clear: both;
  }

  .entry .ngg-gallery-thumbnail img {
    margin: -6px 0 0 -6px;
  }

  .entry .ngg-gallery-thumbnail {
    padding: 0;
  }

  .warning {
    background-color: #CFEBF7;
    border: 1px solid #CC0000;
    margin: 5px 15px 2px;
    padding: 0 0.6em;
  }

  table {
    margin: 0 0 10px;
  }

  .podPressPlayerSpace {
    position: absolute;
  }

  .entry table td {
    clear: both;
  }

  .aligncenter,
  div.aligncenter {
    text-align: center;
  }

  .ngg-gallery-thumbnail-box {
    float: left;
    margin-top: 20px;
    margin-left: 6px;
  }

  p img {
    padding: 0;
    max-width: 100%;
  }

  /*	Using 'class="alignright"' on an image will (who would've
      thought?!) align the image to the right. And using 'class="centered',
      will of course center the image. This is much better than using
      align="center", being much more futureproof (and valid) */

  img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img.alignright {
    padding: 4px;
    margin: 0 0 2px 7px;
    display: inline;
  }

  img.alignleft {
    padding: 4px;
    margin: 0 7px 2px 0;
    display: inline;
  }

  .alignright {
    float: right;
  }

  .alignleft {
    float: left
  }

  // normalize laitman.co.il headings in entry
  .entry {
    h1, h2, h3, h4 {
      font-size: 1rem;
    }
  }

  /* ********** wordpress style ********** */
}

// native day picker (date filter && Simple mode for mobile)
.to-from-label {
  min-width: 70px;
}

.hide-native-date-input {
  opacity: 0;
  position: fixed;
  top: 40px;
  height: 0;
  font-size: 16px;
}

@media print {
  .source__toc,
  .layout__header,
  .layout__sidebar,
  .layout__footer,
  .layout__secondary-header,
  .anchors-language-selector,
  #us_report_button,
  div:empty {
    display: none;
  }

  .layout {
    &__main {
      padding: 0; // to remove existing padding
    }

    &__content {
      margin: 10px !important;
    }
  }

  .ui.container {
    padding-top: 0 !important; // remove existing padding
  }

  div, p, ol, ul {
    margin: 0 !important;
    padding: 0 !important;
  }

  p {
    margin: 0 !important;
    text-indent: 20px;
  }
}

.DayPicker-Day {
  outline: none !important;
}

/* ************* Styles for simple mode ************* */
.no-padding-top {
  @media only screen and (max-width: $mobileBreakpoint) {
    padding-top: 0;
  }
}

.stick-calendar {
  position: sticky;
  top: 65px;
}

.summary-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1em;

  &.adjust-height {
    height: 2.68em;
    align-items: center;
  }

  .controller {
    display: flex;
    align-items: baseline;

    h4 {
      margin: 0 6px 0 0;
    }

    span {
      margin: 0 6px;
    }

    button {
      padding: 0;
      border: 0;
      box-shadow: none;
      color: #1a4179;
      background: transparent;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }

      &.disabled {
        color: #b1b1b1;
        text-decoration: none;
        cursor: auto;
      }
    }

    .dropdown-container {
      width: 170px;
    }
  }

  @media only screen and (max-width: $tabletBreakpoint) {
    .controller {
      flex-direction: column;
      margin-top: 1rem;

      &:first-of-type {
        padding-right: 4px;
      }

      .date-container {
        display: flex;

        input {
          background: #ebecf0;
          color: #1a4179;
          display: inline-block;
          width: 90px;
          height: 0;
          margin: 0 .5em;
          max-width: max-content;
          box-sizing: content-box;

          &:focus {
            outline: none;
          }
        }
      }

      .dropdown-container {
        width: 90px;

        select {
          padding: 2px;
          box-shadow: none;
          background: #ebecf0;
          color: #1a4179;
          border: 1px solid rgba(34, 36, 38, 0.15);
          border-radius: .28571429rem;
          box-sizing: content-box;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

.unit-link {
  color: #4183c4 !important;
}

.horizontal-list {
  display: flex;
  padding-bottom: 16px !important;
  border-bottom: 1px solid #ebecf0;
  text-decoration: none !important;
  overflow-x: auto;

  &.remove-bottom-border {
    border: 0;
  }

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }

  .no-files {
    display: inline-flex !important;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    padding: 10px 24px 10px 16px !important;
    border: 1px solid #7dcff5;
    border-left-width: 4px;
    border-radius: 4px;
    background-color: rgba(125, 207, 245, 0.16);

    .content {
      white-space: pre-wrap;

      .bold-font {
        font-weight: bold;
      }
    }

    img {
      width: 20px;
      height: 20px;
    }

    .choose-language-button {
      background: transparent !important;
      height: auto !important;
      padding: 0 !important;
      margin: 0 !important;
      text-decoration: underline;
      color: #2185d0;
    }
  }

  .media-file-button {
    height: 24px;
    margin-right: 8px;
    text-decoration: none;
    display: flex !important;
    padding: 0 8px !important;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #fff;
    background-color: #ef702e;
    font-size: 12px;
    flex-shrink: 0;

    .file-list-icon {
      width: 12px;
      margin-left: 5px;
    }

    a {
      color: #fff !important;
      font-weight: normal !important;
    }

    &:hover, &:hover .icon, &:hover a {
      color: #fff !important;
    }
  }
}

.unit-header {
  font-weight: 300 !important;
  font-size: 18px;
  margin: 12px 0 !important;
  color: #1a4179 !important;

  &.no-margin {
    margin: 0 !important;
  }
}

.duration {
  color: $midGrey;
  font-size: 14px;
}

.under-line {
  text-decoration: underline;
}

.gray-header {
  background-color: #ebecf0 !important;
  padding: 0.2em 1em !important;
}

.type-header-top-margin {
  margin-top: 45px;
}

.simple-mode-type-icon {
  display: inline-block !important;
  width: 32px;
  margin-right: 5px;
}

.inline-button {
  width: 80px !important;
  margin: 5px !important;
}

.rtl {
  .summary-container {

    .controller:first-of-type {
      padding-left: 4px;
    }

    h4 {
      margin: 0 0 0 6px;
    }
  }

  .horizontal-list {
    display: flex;

    .media-file-button {
      margin-left: 8px;
      margin-right: 0;

      .file-list-icon {
        margin-left: 0;
        margin-right: 5px;
      }
    }

    .no-files {
      padding: 10px 16px 10px 24px !important;
      border-width: 1px 4px 1px 1px;
    }
  }

  .simple-mode-type-icon {
    margin-left: 5px;
    margin-right: 0;
  }
}

.mediaplayer__onscreen-controls {
  .player-button.player-error-message {
    background: white;
    border: 2px solid red;
    padding: 7px;
    border-radius: 50px;
  }
}

.mediaplayer__unmuteButton {
  position: absolute;
  top: 5px;
  left: 5px;
}

.mediaplayer__unmuteButton.rtl {
  left: inherit;
  right: 5px;
}

.mediaplayer__embedUnmuteButton {
  z-index: 10000;
  position: absolute;
  top: 20px;
  left: 5px;
}

.mediaplayer__embedUnmuteButton.rtl {
  left: inherit;
  right: 5px;
}

.mediaplayer__mobileLoader {
  position: absolute;
  top: 30%;
  left: 40%;
}

/* ************* End of styles for simple mode ************* */

/* ************* Start of styles for homepage social media section ************* */
.home-social-section {
  .titles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 25px;

    h4 {
      margin-bottom: 0;
    }

    a {
      flex-grow: 0;
    }
  }

  .read-more-bottom {
    width: 100%;
    text-align: center;
    padding: 15px;
  }
}

.home-blog-posts {

  .blog-posts {
    max-width: 100%;

    .post:last-of-type, .divider:last-of-type {
      margin-bottom: 0 !important;
    }
  }

  .remove-indent {
    padding-left: 0 !important;
  }

  .entry {
    position: relative;

    * {
      display: none;
      color: #828282;
      font-weight: 400;
    }

    *:first-of-type {
      display: inline;
      width: auto;
    }

    img, style, .bwg_container {
      display: none !important;
    }

    .date {
      font-weight: bold;
      color: #000;
    }
  }

  .read-more-link {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
  }
}

.home-twitter {
  background-color: #F4F9FB;

  .twitter-avatar {
    border-radius: 50% !important;
    width: 45px !important;
    height: auto !important;
  }

  .tweet-title-wrapper {
    display: flex;
    align-items: center;

    .tweet-title {
      display: inline-flex;
      flex-direction: column;
    }
  }

  .ui.feed {
    margin-bottom: 0 !important;
  }

  .tweet-friendly-date {
    text-align: right;
    color: rgba(118, 118, 118, 0.75);
    margin-top: 5px;
  }

  .divider {
    margin-bottom: 25px !important;

    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}

.rtl {
  .home-blog-posts {
    .remove-indent {
      padding-right: 0 !important;
      padding-left: 4px !important;
    }
  }

  .tweet-friendly-date {
    text-align: left;
  }
}

/* ************* End of styles for homepage social media section ************* */

.dropdown-language-selector.blink, .blink {
  box-shadow: 0 0 0 6px #7dcff5 inset;
  animation: dropdown-blink .8s ease-in-out;
  animation-iteration-count: 5;
  animation-delay: .7s;
}

@keyframes dropdown-blink {
  0% {
    box-shadow: 0 0 0 5px #7dcff5 inset;
  }
  100% {
    box-shadow: none;
  }
}

.handle-language-header {
  &.title {
    display: flex;
  }

  .header {
    margin: 0 1rem;
    flex-grow: 2;
  }
}

/****Search Results page**/

.pagination-results.h2.ui.header {
  font: 13px/20px Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.search__link {
  color: #1a4179;
  font-size: 18px;
  line-height: 24px;
}

.search__block {
  color: #828282;
  font-weight: normal;

  .clear {
    clear: both;
  }

  .content {
    margin-top: 0.5em;

    em {
      border-bottom: 1px solid rgba(65, 131, 196, .3);
      background-color: rgba(242, 201, 76, .2);
      font-weight: 900;
    }
  }

  .header .label {
    margin-top: 9px !important;
  }

  .ui.mini.image {
    width: 25px;
  }

  .link_to_file.ui.basic.button {
    padding: .5em 1em;
    margin-top: 8px !important;
    margin-right: 8px !important;
    background-color: white !important;
    border-color: $grey;

    .icon {
      color: $blue;
    }

    &:hover {
      background-color: $blue !important;
      border: 0 none;
      color: white !important;

      .icon {
        color: white !important;
      }
    }
  }

  .link_to_cu {
    padding: .5em 1em;
    margin-top: 8px !important;
    margin-right: 8px !important;
  }

  .search__cards.ui.three.cards {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    min-height: 270px;

    .scroll_intents {
      position: absolute;
      top: 140px;
      background-color: white !important;
      z-index: 10;
    }
  }

  .search__card {
    position: relative;
    margin-top: 20px;

    .intent_image {
      position: relative;
      min-height: 160px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    &.card.bg_hover_grey:hover {
      background: #eee;
    }
  }

  .card_header_label {
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 1;
    padding: 5px 10px;
    background: rgba(51, 51, 51, .6);
    color: white;
    font-size: 14px;
  }

  .search__snippet {
    font-size: 14px;
  }

  .score_debug {
    margin: 8px !important;
  }
}

.bg_hover_grey:hover {
  background: #eee;
}

.bg_transparent, .bg_transparent:hover {
  background: transparent !important;
}

.no-padding {
  padding: 0 !important;
}

.padding_r_l_0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.section_tabs.ui.menu {
  background: $darkWhite;
  margin: 0;
  border: 0 none;
  border-radius: 0;

  .item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .active {
    border-bottom: 1px solid #1a4179;
  }

  .show_filters {
    background-color: white !important;
  }

  .overflow_auto {
    overflow-x: auto;
    white-space: nowrap;
  }
}

.header_search.ui.segment {
  border-radius: 0;
}

.no-padding {
  padding: 0 !important;
}

.search-result-note {
  padding: 10px 16px 10px 16px !important;
  border-width: 1px 4px 1px 1px;

  .ui.image {
    height: 20px;
    margin-top: 10px;
  }

  .button {
    margin-top: 3px;
    margin-left: 0 !important;
  }
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-border {
  border: 0 none !important;
}

.no-shadow {
  box-shadow: none !important;
}

.margin-top-8 {
  margin-top: 8px !important;
}

.margin-right-8 {
  margin-right: 8px !important;
}

.margin-left-8 {
  margin-left: 8px !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

/* ************* Style for Semantic Ui Popup  ************* */
.change-popup-direction .content {
  direction: rtl;
}

/* ************* End of Style for Semantic Ui Popup  ************* */

.buttonLink {
  font-weight: bold;
  color: whitesmoke;
}

.FastDayPicker-DayPicker-NavButton {
  width: 17em;

  .DayPicker-NavButton {
    top: 0;
    float: right;
  }
}

.float-left {
  float: left
}

.clear {
  clear: both;
}

.ui.flowing.popup {
  z-index: 10000;
}

.ui.accordion.menu .item .title > .dropdown.icon {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

/* fix for svg in logo */
.logo svg {
  display: none !important;
}

@media only screen and (min-width: $largeMonitorBreakpoint) {
  .logo svg {
    display: inline-block !important;
  }
}

.ui.menu .item > svg:not(.ui) {
  display: inline-block;
  vertical-align: middle;
  margin: -.3em 0;
  width: 2.5em;
}

.ui.top.left.popup {
  &.filter-popup {
    top: 0 !important;
    overflow: auto !important;
  }
}

.ui.top.right.popup {
  &.filter-popup {
    top: 0 !important;
    overflow: auto !important;
  }
}

.action:hover {
  background: inherit !important;
}

.searchButton {
  border-radius: 0 .28571429rem .28571429rem 0 !important;
  margin-right: 45px !important;
}

.dateButton {
  border-radius: .28571429rem !important;
}

@media only screen and (max-width: $tabletBreakpoint) {
  .search-omnibox {
    .searchButton {
      margin-right: 5px !important;
      padding-left: 15px !important;
      padding-right: 0px !important;
    }
  }
  .dateButton {
    padding-left: 15px !important;
    padding-right: 0px !important;
  }
}

.rtl {
  .search-omnibox {
    .searchButton {
      border-radius: .28571429rem 0 0 .28571429rem !important;
      margin-right: 0 !important;
      margin-left: 45px !important;
      padding-right: 15px !important;
    }
  }
  @media only screen and (max-width: $tabletBreakpoint) {
    .search-omnibox {
      .searchButton {
        margin-right: 0px !important;
        margin-left: 5px !important;
      }
    }
    .dateButton {
      padding-left: 5px !important;
      padding-right: 15px !important;
    }
  }
}

.min-height-200 {
  min-height: 200px;
}

.headroom-z-index-801 .headroom {
  z-index: 801 !important;
}

.layout__content {
  .headroom--pinned {
    transform: translateY($main-menu-height) !important;
  }
}

.ltr {
  .layout__content {
    .headroom--pinned {
      @include tablet-mobile {
        margin-left: 0;
        width: 100%;
      }
      margin-left: $sidebar-width;
    }
  }
}

.rtl {
  .layout__content {
    .headroom--pinned {
      @include tablet-mobile {
        margin-right: 0;
        width: 100%;
      }
      margin-right: $sidebar-width;
      margin-left: 0;
    }
  }
}
