// See TimedPopup.js, solves existing bug:
// https://github.com/Semantic-Org/Semantic-UI-React/issues/1065
.popup {
  background: #fff;
  border: 1px solid #d4d4d5;
  border-radius: .28571429rem;
  box-shadow: 1px 1px 0 0 #bababc;
  color: rgba(0, 0, 0, .87);
  font-style: normal;
  font-weight: 400;
  line-height: 1.4285em;
  margin: 0 0 .71428571em;
  max-width: 250px;
  padding: .833em 1em;
  z-index: 1900;

  .content {
    text-align: center;
    width: 200px;
  }
}

.search-omnibox {
  max-width: 600px;
  width: 100%;
}

.search-result-rtl {
  .title {
    direction: rtl;
    display: inline-block;
  }
}

/* Make hightlights in search also bold (not only italic).*/
em {
  font-weight: bold;
}

/* Do not display images in doc files converted to html as they are broken */
.doc2html {
  img {
    display: none;
  }
}


/* Program filters hack (rename, move to filters)*/ 
.filter-letters{
  flex-direction: column!important;
  flex-wrap: wrap!important;
  height: 600px!important;
  width: auto!important;
}