$controls-bg: rgba(27, 28, 29, .9);
$controls-bg-hover: rgba(27, 28, 29, 1);
$controls-radius: 4px;
@use "sass:color";

//Colors
$whatsappColor: #25d366;
//$whatsappHoverColor: color.scale(darken($whatsappColor, 5%), $saturation: 10%);
$whatsappDownColor: darken($whatsappColor, 10%);
$telegramColor: #27a6e6;
//$telegramHoverColor: color.scale(darken($telegramColor, 5%), $saturation: 10%);
$telegramDownColor: darken($telegramColor, 10%);

$odnoklassnikiColor: #EE8208;
//$odnoklassnikiHoverColor: color.scale(darken($odnoklassnikiColor, 5%), $saturation: 10%);
$odnoklassnikiDownColor: darken($odnoklassnikiColor, 10%);

/*
body{
    padding: 40px;
    background: #000;
}
*/

.todo {
  color: white;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

.web {
  width: 985px;
  width: 100%;
  height: 100%;
  // background: lime;
  position: relative;
  // *, *::after, *::before {
  //     box-sizing: border-box!important;
  // }
}

.controls {
  z-index: 1;

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // vertical-align: top;

    // background: lime;
    &::before {
      color: hsla(0, 0%, 100%, .8) !important;
    }
  }

  position: absolute;
  // background: yellow;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // background: yellow;
  overflow: hidden;
  color: #fff;

  &__prev, &__rewind, &__forward, &__next {
    // filter: invert(1);
    // mix-blend-mode: difference;
    position: absolute;
    top: calc((100% - 54px) / 2 - 34px);
    width: 68px;
    height: 68px;
    background: $controls-bg;
    border-radius: $controls-radius;
    transition: all ease-out 0.2s;
    cursor: pointer;
    z-index: 10;

    &:hover {
      cursor: pointer;
      background: $controls-bg-hover;

      .icon {
        &:before {
          color: hsla(0, 0%, 100%, 1) !important;
        }
      }
    }
  }

  &__prev {
    border-radius: 0 $controls-radius $controls-radius 0;
    left: -68px - 12px - 68px;
  }

  &__rewind {
    left: -68px;
  }

  &__forward {
    right: -68px;
  }

  &__next {
    border-radius: $controls-radius 0 0 $controls-radius;
    right: -68px - 12px - 68px;
  }

  &__bar {
    position: absolute;
    height: 54px;
    left: 0;
    right: 0;
    background: $controls-bg;
    bottom: -54px;
    transition: all ease-out 0.2s;
    display: flex;
    padding: 10px;
    align-items: stretch;
    z-index: 1;

    > * {
      flex: 0 0 34px;
      position: relative;
      // outline:#fff 1px solid;
      &:hover {
        // background: $controls-bg-hover;
        .icon {
          &:before {
            color: hsla(0, 0%, 100%, 1) !important;
          }
        }
      }

      // background: rgba(255,0,0,.2);
      // margin: 2px;
    }

    .icon {
      line-height: 100%;
    }

  }

  &__volume {
    // flex: 0 0 auto;
    display: flex;
    // margin-right:8px;
    &-icon {
      width: 34px;
      position: relative;
      // margin-right: 8px;
    }
  }

  &__timecode {
    flex: 0 0 auto;
    line-height: 34px;
    font-size: 11px;
    padding: 0 8px;
    min-width: 98px;
  }

  &__progress {
    flex: 1 0 auto;
  }

  &:hover, .is-sharing & {
    .controls__prev {
      left: 0;
    }

    .controls__rewind {
      left: 68px + 12px;
    }

    .controls__forward {
      right: 68px + 12px;
    }

    .controls__next {
      right: 0;
    }

    .controls__bar {
      bottom: 0;
    }
  }

  .is-settings & {
    .controls__bar {
      bottom: 0;
    }

    .controls__prev {
      left: 0;
    }

    .controls__rewind {
      left: 68px + 12px;
    }

    .controls__forward {
      right: 68px + 12px;
    }

    .controls__next {
      right: 0;
    }

    &:hover {
      // .controls__prev {
      //     left: -68px - 12px - 68px;
      // }
      // .controls__rewind {
      //     left: -68px;
      // }
      // .controls__forward {
      //     right: -68px;
      // }
      // .controls__next {
      //     right: -68px - 12px - 68px;
      // }
    }
  }

  &__bg_play {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  &__bg_audio {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    background: center url("https://arvut.kli.one/user/static/media/audio_only.svg") no-repeat;
    background-size: 40%;
  }
}

.controls__slider {
  position: relative;
  height: 100%;

  * {
    position: absolute;
  }

  .slider {
    &__wrapper {
      background: #000;
      height: 4px;
      left: 12px;
      right: 12px;
      top: calc(50% - 2px);

    }

    &__slice {
      top: 5px;
      height: 4px;
      background-color: #2185d0;
      background-image: linear-gradient(-45deg, hsla(0, 0%, 100%, .25) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .25) 0, hsla(0, 0%, 100%, .25) 75%, transparent 0, transparent);
      background-size: 1rem 1rem;
      left: 20%;
      right: 20%;
    }

    &__value, &__loaded {
      height: 100%;
      left: 0;
      top: 0;
    }

    &__value {
      background: #fff;
      width: 50%;
    }

    &__loaded {
      background: #888;
      width: 70%;
    }

    &__thumb {
      display: none;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      top: -5px;
      left: 50%;
      background: #fff;
      transform: translateX(-50%);
    }


  }

  .controls__volume & {
    // width:120px;
    transition: width ease-out 0.2s;
    width: 0;
    overflow: hidden;

    .slider {
      &__wrapper {
        left: 4px;
      }

      &__thumb {
        display: block;
      }
    }
  }

  .controls__volume:hover & {
    width: 120px;
  }

  .controls__progress & {
    width: 100%;

    &:hover {
      .slider {
        &__wrapper {
          height: 6px;
          top: calc(50% - 3px);
        }

        &__slice {
          top: 7px;
        }

        &__thumb {
          display: block;
          top: -4px;
        }
      }
    }
  }
}

.sharing {
  z-index: 1;
  display: none;

  .is-sharing & {
    display: flex;
  }

  position: absolute;
  background: $controls-bg;
  left: 8px;
  right: 8px;
  bottom: 54px + 8px;
  padding: 16px;
  flex-direction: column;

  &__times {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__inputs {
    > * {
      margin-right: 16px;
    }
  }

  &__buttons {
    display: flex;
    // flex-direction: row;
    .input {
      margin-right: 32px;
      flex: 1 0 auto;
    }
  }

}

.settings {
  z-index: 1;
  display: none;

  .is-settings & {
    display: flex;
  }

  position: absolute;
  align-items: flex-end;
  right: 8px;
  top: 8px;
  bottom: 54px + 8px;

  overflow: hidden;

  &__pane {
    background: $controls-bg;
    padding: 16px;
    overflow: hidden;

    &:first-child {

    }

    &:last-child {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      width: 0;
      padding: 0;

      button {
        flex: 0 0 auto;
      }

      .menu {
        flex: 1 1 auto;
        overflow-y: auto;
        margin-left: 0;
        margin-right: 0;
      }

    }
  }

  .is-language & {
    .settings__pane {
      &:first-child {
        width: 0;
        padding: 0;

      }

      &:last-child {
        width: auto;
        padding: 16px;
      }
    }
  }

  &__row {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    + .settings__row {
      margin-top: 8px;
    }
  }

  .header {
    color: #fff;
    margin: 0 24px 0 0;
    font-weight: 400;
  }
}

/* Twitter */


.ui.whatsapp.button {
  background-color: $whatsappColor;
  color: #FFFFFF;
}

.ui.whatsapp.button:hover {
  //background-color: $whatsappHoverColor;
}

.ui.whatsapp.button:active {
  background-color: $whatsappDownColor;
}

.ui.telegram.button {
  background-color: $telegramColor;
  color: #FFFFFF;
}

.ui.telegram.button:hover {
  //background-color: $telegramHoverColor;
}

.ui.telegram.button:active {
  background-color: $telegramDownColor;
}

.ui.odnoklassniki.button {
  background-color: $odnoklassnikiColor;
  color: #FFFFFF;
}

.ui.odnoklassniki.button:hover {
  // background-color: $odnoklassnikiHoverColor;
}

.ui.odnoklassniki.button:active {
  background-color: $odnoklassnikiDownColor;
}

.custom_ShareButton {
  background-color: transparent;
  border: none;
  padding: 0px;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

// &-slice{
//     top: 22px;
//     height: 4px;
//     background-color: #2185d0;
//     background-image: linear-gradient(-45deg,hsla(0,0%,100%,.25) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.25) 0,hsla(0,0%,100%,.25) 75%,transparent 0,transparent);
//     background-size: 1rem 1rem;
// }
