// Breakpoints in sync with tailwind.config.js theme.screens
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;
$screen-3xl: 1920px;

// MIXINGS

@mixin small-mobile {
  @media only screen and (max-width: $screen-sm) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: $screen-sm - 1){
    @content;
  }
  @media only screen and (max-width: $screen-xl - 1) {
    @content;
  }
}
@mixin tablet-mobile {
  @media only screen and (max-width: $screen-md - 1){
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: $screen-md) and (max-width: $screen-xl - 1) {
    @content;
  }
}
@mixin computer {
  @media only screen and (min-width: $screen-xl) and (max-width: $screen-2xl - 1) {
    @content;
  }
}
@mixin large-screen {
  @media only screen and (min-width: $screen-2xl) and (max-width: $screen-3xl - 1) {
    @content;
  }
}
@mixin widescreen {
  @media only screen and (min-width: $screen-3xl) {
    @content;
  }
}
@mixin computer-and-above {
  @media only screen and (min-width: $screen-xl) {
    @content;
  }
}


// helper classes


.widescreen,
.large-screen,
.computer,
.tablet {
  &-only {
    @include mobile {
      display: none !important;
    }
  }
}

.mobile {
  &-hidden {
    @include mobile {
      display: none !important;
    }
  }
}


.widescreen,
.large-screen,
.computer,
.mobile {
  &-only {
    @include tablet {
      display: none !important;
    }
  }
}

.tablet {
  &-hidden {
    @include tablet {
      display: none !important;
    }
  }
}

.widescreen,
.large-screen,
.tablet,
.mobile {
  &-only {
    @include computer {
      display: none !important;
    }
  }
}

.computer {
  &-hidden {
    @include computer {
      display: none !important;
    }
  }
}


.widescreen,
.tablet,
.mobile {
  &-only {
    @include large-screen {
      display: none !important;
    }
  }
}

.large-screen {
  &-hidden {
    @include large-screen {
      display: none !important;
    }
  }
}


.tablet,
.mobile {
  &-only {
    @include widescreen {
      display: none !important;
    }
  }
}

.widescreen {
  &-hidden {
    @include widescreen {
      display: none !important;
    }
  }
}
