.search {
  &__link {
    font-weight: bold;
  }

  &__snippet {
    font-size: .85714286em;

    br {
      display: none;
    }
  }

  &__didyoumean {
    font-size: medium;
    color: red;
    margin-bottom: 1rem;
  }
}


.search__link {
  color: #1a4179;
  font-size: 18px;
  line-height: 24px;
}

.search_result_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
}

.search_result_icon, .search_result_img {
  margin-right: 1em;

  .rtl & {
    margin-right: 0;
    margin-left: 1em;

  }
}

.search_result_item {
  display: flex;
  flex: 1 1 auto;
  align-content: start;

  .content em {
    border-bottom: 1px solid rgba(65, 131, 196, .3);
    background-color: rgba(242, 201, 76, .2);
    font-weight: 900;
  }

  .description {
    color: $grey;
    font-size: smaller;
    margin-top: .5em;
  }
}

.search__block {
  color: #828282;
  font-weight: normal;

  .clear {
    clear: both;
  }

  .content {
    margin-top: 0.5em;

    em {
      border-bottom: 1px solid rgba(65, 131, 196, .3);
      background-color: rgba(242, 201, 76, .2);
      font-weight: 900;
    }
  }

  .header .label {
    margin-top: 9px !important;
  }

  .ui.mini.image {
    width: 25px;
  }

  .link_to_file.ui.basic.button {
    padding: .5em 1em;
    margin-top: 8px !important;
    margin-right: 8px !important;
    background-color: white !important;
    border-color: $grey;

    .icon {
      color: $blue;
    }

    &:hover {
      background-color: $blue !important;
      border: 0 none;
      color: white !important;

      .icon {
        color: white !important;
      }
    }
  }

  .link_to_cu {
    padding: .5em 1em;
    margin-top: 8px !important;
    margin-right: 8px !important;
  }

  .search__cards.ui.three.cards {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    min-height: 270px;

    .scroll_intents {
      position: absolute;
      top: 140px;
      background-color: white !important;
      z-index: 10;
    }
  }

  .search__card {
    position: relative;
    margin-top: 20px;

    .intent_image {
      position: relative;
      min-height: 160px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    &.card.bg_hover_grey:hover {
      background: #eee;
    }
  }

  .card_header_label {
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 1;
    padding: 5px 10px;
    background: rgba(51, 51, 51, .6);
    color: white;
    font-size: 14px;
  }

  .search__snippet {
    font-size: 14px;
  }

  .score_debug {
    margin: 8px !important;
  }
}
