.sources {
  &__authors {
    .image {
      @include mobile { margin: 0 0 1em; }
      @include small-mobile { margin: 0 auto 1em; }
    }
  }
  &__list {
    @include mobile {
      margin-left: 0 !important;
    }
    .item {
      @include mobile { display: inline-block !important; }
      &:before {
        @include mobile {
          content: '' !important;
        }
      }
      &:after {
        @include mobile {
          display: inline !important;
          content:'|' !important;
          position: static !important;
          padding: 0 .5em !important;
          visibility: visible !important;
        }
      }
      &:last-child {
        &:after {
          @include mobile {
            display: none !important;
          }
        }
      }
    }
  }
}

.source {
  &.is-readable {
    background: $white;
    bottom: 0;
    left: 0;
    overflow: scroll;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;

    .layout__secondary-header {
      left:0;
      right:0;
    }
    .source__toc {
      > div:nth-child(2) {
      }
    }
  }

  &__toc {
    > div:nth-child(2) {
      overflow-y: scroll;
      padding: 0 1em 0 0;
    }
    .title {
      &.active {
        font-weight: bold;
      }
    }
  }

  &__content-wrapper {
    &.wide.column.computer.tablet {
      @include small-mobile {
        width: 100% !important;
      }
    }
  }

  &__content {
    min-height: calc(100vh - #{$main-menu-height});
  }
}
