.source {
  &.is-readbe {
    background: $white;
    bottom: 0;
    left: 0;
    overflow: scroll;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;

    .layout__secondary-header {
      left:0;
      right:0;
    }
    .source__toc {
      > div:nth-child(2) {
        height: calc(100vh - #{$secondary-header-height} - 1em);
        
        // overflow: scroll;
        // padding: 10px;
      }
    }
  }
  &__toc {
    
    > div:nth-child(2) {
      height: calc(100vh - #{$main-menu-height} - #{$secondary-header-height} - 1em);
      overflow: scroll;
      // background: pink;
      // padding: 10px;
    }
    .title {
      &.active {
        font-weight: bold;
      }
    }
  }

  &__content {
    min-height: calc(100vh - #{$main-menu-height});
    // background: lime;
  }

}
