@import 'rtl/sources';

// Library index - Collections
.sources {
  &__authors {
    height: 100%;

    tr,
    tbody {
      @include mobile {
        height: auto;
      }
      height: 100%;
    }

    .image {
      @include mobile {
        margin: 0 0 1em;
      }
      @include small-mobile {
        margin: 0 auto 1em;
      }
    }

    .author {
      &--image {
        td {
          height: 100%;

          &:nth-child(2) {
            > div {
              height: 100%;
              overflow: auto;
              position: relative;
            }
          }
        }

        .sources__list {
          @include mobile {
            position: static;
          }
          position: absolute;
        }

        .list {
          @include mobile {
            position: static;
          }
          position: absolute;
        }
      }
    }
  }

  &__list {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    right: 0;
    top: 0;

    > div:nth-child(2) {
      flex: 1 1 auto;
      overflow: hidden;
      position: relative;
    }

    .list {
      @include mobile {
        margin-top: -.214286em !important;
      }
      align-content: flex-start;
      bottom: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      left: 0;
      right: 0;
      top: 0;

      .item {
        @include mobile {
          width: 50%;
        }
        @include small-mobile {
          width: 100%;
        }
        @include tablet {
          width: 50%;
        }
        padding: .214286em 0 !important;
        width: 33.333333333%;
      }
    }
  }
}

// Library item - Unit
.source {

  &.is-readable {
    -webkit-overflow-scrolling: touch;
    background: $white;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3000;

    .layout__secondary-header {
      left: 0;
      right: 0;
    }
  }

  &.toc--is-active {
    .source__toc-header {
      @include tablet-mobile {
        transform: none;
      }
    }

    .source__toc {
      > div:nth-child(2) {
        top: calc(1em + 60px) !important;

        @include tablet-mobile {
          transform: none;
          top: calc(1em + 60px) !important;
          padding-top: calc(3em + 60px);
        }

        @include mobile {
          top: calc(1em + 60px) !important;
          padding-top: calc(3em + 60px);
          padding-bottom: calc(3em + 70px);
        }
      }
    }
  }

  &__toc {
    > div:nth-child(2) {
      @include tablet-mobile {
        background: $white !important;
        bottom: 0 !important;
        left: 0 !important;
        padding: 1em;
        position: fixed !important;
        right: 0 !important;
        top: auto !important;
        transform: translate(100%, 0);
        transition: transform .3s;
        width: 100% !important;
        z-index: 1;
      }
      height: 100vh;
      -webkit-overflow-scrolling: touch;
      overflow-y: auto;
      padding: 1em 1em 1em 0;
    }

    .title {
      &.active {
        font-weight: bold;
      }
    }
  }

  &__content-wrapper,
  &__content-header {
    &.wide.column.computer.tablet {
      @include small-mobile {
        width: 100% !important;
      }
    }
  }


  &__content-header,
  &__toc-header {
    align-items: center !important;
    background: $white;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end;
  }

  &__header-toolbar {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    > * {
      margin: 0 !important;

      + * {
        margin-left: .25em !important;
      }
    }

    .input {
      flex: 1 1 auto;
    }
  }

  &__toc-header {
    @include tablet-mobile {
      padding-bottom: .5rem !important;
      padding-top: .5rem !important;
      position: fixed !important;
      top: calc(#{$main-menu-height} - 1rem); // 1rem = padding-bottom + padding-top
      transform: translate(100%, 0);
      transition: transform .3s;
      z-index: 10;

      .is-readable & {
        top: 0;
      }
    }

    .source__header-toolbar {
      flex: 1 1 auto;
    }
  }

  &__content-header {
    .source__header-title {
      flex: 1 1 auto;
    }
  }

  &__header-title {
    overflow: hidden;
    padding: 0 1em 0 0 !important;

    span {
      @include mobile {
        font-size: calc(1.07142857em * .8);
      }
    }

    span,
    small {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: $max-readble-width;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

.ui.sepia.label,
.ui.sepia.labels .label {
  background-color: $sepia-bg !important;
  border-color: $sepia-bg !important;
}

.sources-settings {
  padding: 0 !important;

  .icon {
    margin: 0 !important;
  }

  .menu {
    background: none;
    border: 0 !important;
    border-radius: 0;
    box-shadow: none !important;
    margin: 0 !important;
    white-space: nowrap;

    + .menu {
      border-top: 1px solid rgba(34, 36, 38, .1) !important;
    }

    &.ui.item .item {
      padding-left: 1em !important;
      padding-right: 1em !important;
    }
  }
}

.likut {
  @include mobile {
    margin: 0 !important;

    .buttons {
      display: flex;
      flex-wrap: wrap;
    }

    .button { padding: 0.5em !important }
  }

  .ui.header {
    @include mobile {
      padding: inherit 0 !important;
      font-size: 1.3em !important;
    }

    padding: 0.5em 1em 0 !important;
  }

  .sub.header {
    padding: 0.5em 0 0 !important;
  }

   a {
    color: gray !important;
  }

  &__toolbar {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 1em 0.5em !important;
  }

  &__grid {
    .row {
      padding-top: 0 !important;
    }
    .column {
      padding-top: 0.5em !important;
      padding-bottom: 0.5em !important;
    }
  }
}
