.topics {
  &__section {
    margin-bottom: 4rem;

    // &:first-child {
    //   margin-top: 2rem;
    // }
  }

  &__title {
    .icon{
      margin: 0 0 0 8px;
    }
    // display: flex;
    // background:red;
    
  }

  &__list {
    
    column-count: 4;
    column-gap: 2rem;
    @include tablet {
      // background: pink !important;
      column-count: 3;
    }
    @include mobile {
      column-count: 2;
      // background: green !important;
    }
    @include small-mobile {
      column-count: 1;
      // background: red !important;
    }
    margin-bottom: 4rem;

    .list {
      margin: 0 !important;
    }

    .header {
      line-height: 4rem !important;
      margin: 0 !important;
      .icon{
        margin: 0 0 0 8px;
      }
    }

    .item {
      line-height: 2rem !important;
      padding: 0 !important;
    }
  }

  // &__subtitle {
  // }
}
