@use "colors-helpers";
@use "responsive-helpers";

.ltr .trimmed_files {
  right: 2em;
  left: auto;

  &.minimized {
    width: calc(600px - 200px);
    right: 200px;

    & > .segment {
      padding: 0.3em 0.5em;
    }

    @media (max-width: responsive-helpers.$mobileBreakpoint) {
      width: auto;
      right: 150px!important;
      bottom: .5em;
    }
  }
}

.trimmed_files {
  position: fixed;
  bottom: 0;
  left: 2em;
  right: auto;
  width: 600px;
  background: colors-helpers.$white;
  z-index: 1900;
  border: 1px solid colors-helpers.$midGrey;
  border-radius: 5px 5px 0 0;

  @media (max-width: responsive-helpers.$mobileBreakpoint) {
    width: auto;
    left: 0!important;
    right: 0!important;
  }

  & > .segment {
    background: colors-helpers.$blue;
    color: white;
    padding: 1em 0.5em;
    border-radius: 0;
  }

  & > .content {
    max-height: 70VH;
    overflow: auto;
  }

  .button {
    padding: 0 !important;
  }

  .splash {
    display: inline-block;
    margin: 0 8px;

    & .icon {
      font-size: 1.2em !important;
    }
  }
}
