.unit-info {
  @include mobile {
    margin: 1em;
  }

  margin-top: 2em;
  margin-bottom: 2em;

  &__name {
    font-weight: normal;
  }
}

.unit-materials {
  @include mobile {
    padding: 0;
  }

  background: $darkWhite;

  .menu {
    @include mobile {
      overflow-x: auto;
      overflow-y: hidden;
      border-bottom: 0 !important;
    }

    padding: 0 0 0.5em 0;
    margin: 0;

    .item {
      @include mobile {
        flex: 2 0 auto !important;
        padding: 1em 0.5em !important;
      }

      padding: 1em !important;
    }

    .tab-downloads {
      color: rgb(250, 162, 10) !important;
    }
  }

}
