.unit-info {
  @include mobile {
    margin: 0 1em 1em 1em;
  }
  clear: both;
  margin: 0 1em 2em 0;

  &__name {
    font-weight: normal;
  }

  &__film-date {
    font-size: 1rem;

    .seperator {
      margin: 0 0.5em;
    }
  }

  &__collections a {
    font-size: 1.46rem;
  }

  &__header {
    margin-top: 0.5rem !important;
  }

  .link_to_cu {
    padding: 4px 8px;
    margin-top: 8px !important;
    margin-right: 4px !important;
    margin-left: 0 !important;
  }


}

.rtl {
  .unit-info {
    .link_to_cu {
      margin-right: 0 !important;
      margin-left: 4px !important;
    }
  }
}

.unit-materials {
  @include mobile {
    padding: 0;
  }

  background: $darkWhite;

  .menu {
    @include mobile {
      overflow-x: auto;
      overflow-y: hidden;
      border-bottom: 0 !important;
    }

    padding: 0 0 0.5em 0;
    margin: 0;

    .item {
      @include mobile {
        flex: 2 0 auto !important;
        padding: 1em 0.5em !important;
      }

      padding: 1em !important;
    }

    .tab-downloads {
      color: rgb(250, 162, 10) !important;
    }
  }

}
