.avbox {
	background: rgba($black,1);
	&__player {
		height: 0;
  	padding-top: percentage(9 / 16);
  	position: relative;
	  margin-top: calc( -1rem + 0px );
	  margin-bottom: calc( -1rem + 0px );
	  &--is-4x3 {
	  	padding-top: percentage(3 / 4);	
	  }
	  &--is-audio{
	  	padding-top: percentage(1 / 3);
	  }
	}

	&__media-wrapper {
  	position: absolute;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	overflow: hidden;
	}

	&__playlist {
	}

	&__playlist-wrapper {
		position: absolute;
    top: 0;
    bottom: calc( -1rem + 0px );
    display: flex;
    flex-direction: column;
    left:1rem;
    right:1rem;
    > .header{
	    flex: 0 0 auto;
	    position: relative;
	    &:before {
				height: .7rem;
				width: 100%;
				position: absolute;
				left:0;
				top: calc( 100% + 1rem);
				background: radial-gradient(farthest-side at 50% 0, rgba($black,.3), rgba($black,0));
				content:'';
			}
		
	  }
		&:before {
			height: .7rem;
			width: 100%;
			position: absolute;
			left:0;
			bottom: 0;
			background: radial-gradient(farthest-side at 50% 100%, rgba($black,.3), rgba($black,0));
			content:'';
		}
		
	}
	&__playlist-view {
		overflow-y: auto;
		padding-bottom: 1rem;
		padding-top: .7rem;
		

	}
	
}



.avbox__player {

  &.audio {
    // height: 64px !important;
    // padding-top: 70px;
    // margin-top: 0em;
    // margin-bottom: 0em;
    .video_position {
      // bottom: 0;
      // top: initial;
    }
  }
 

  // min-width: 380px;

}


// Responsive

@media only screen and (max-width: $computerBreakpoint - 1) {
	.avbox {
		&__player {
			margin-bottom: 1rem;
		}
		&__playlist-wrapper {
			position:static;
			display:block;
			&:before {
				content: none;
			}
			> .header {
				&:before {
					content: none;
				}
			}
		}
		&__playlist-view {
			
			padding-bottom: 0;
			padding-top: 0;
			

		}
	}
}