.avbox {
  background: $black;

  &__player {
    @include mobile {
       margin-bottom: 1rem;
    }

    height: 0;
    // margin-bottom: -1rem;
    // margin-top: -1rem;
    padding-top: percentage(9 / 16);
    position: relative;

    &--is-4x3 {
      padding-top: percentage(3 / 4);
    }

    &--is-audio {
      padding-top: percentage(1 / 3);
    }
  }

  &__media-wrapper {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__playlist-wrapper {
    @include mobile {
      display: block;
      position: static;

      &::before {
        content: none;
      }

      > .header {
        &::before {
          content: none;
        }
      }
    }

    bottom: -1rem;
    display: flex;
    flex-direction: column;
    left: 1rem;
    position: absolute;
    right: 1rem;
    top: 0;

    > .header {
      flex: 0 0 auto;
      position: relative;

      &::before {
        background: radial-gradient(farthest-side at 50% 0, rgba($black, .3), rgba($black, 0));
        content: '';
        height: .7rem;
        left: 0;
        position: absolute;
        top: calc(100% + 1rem);
        width: 100%;
      }
    }

    &::before {
      background: radial-gradient(farthest-side at 50% 100%, rgba($black, .3), rgba($black, 0));
      bottom: 0;
      content: '';
      height: .7rem;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &__playlist-view {
    @include mobile {
      padding-bottom: 0;
      padding-top: 0;
    }

    clear: both;
    overflow-y: auto;
    padding-bottom: 1rem;
    padding-top: .7rem;

    .header {
      color: $blue;
    }

    .item .item {
      margin-left: -1.14285714em;
      margin-right: -1.14285714em;
      padding-left: 1.14285714em * 2;
      padding-right: 1.14285714em * 2;
    }
    .menu > .item {
      // padding-bottom: 0;
    }
  }
}
