@use "colors-helpers";
@use "responsive-helpers";

@use "sass:math";

.avbox {
  background-color: colors-helpers.$darkWhite;

  .unit_container {
    background-color: colors-helpers.$darkWhite;
  }

  /* player on mobile devices */
  &__player.mobile-device {
    height: auto;
    padding: 0;

    .avbox__media-wrapper {
      overflow: visible;
      padding-top: 0;
      position: relative;
    }

    .mediaplayer__wrapper {
      position: relative;
    }

    audio {
      margin: 0;
    }

    select {
      background: transparent;
      border-width: 0;
      padding: 0.8em 0;
      max-width: 8rem;

      &:focus {
        outline: none;
      }
    }
  }

  &__player {
    background: colors-helpers.$black;
    height: 0;
    padding-top: math.percentage(math.div(9, 16));
    position: relative;

    &--is-4x3 {
      padding-top: math.percentage(3 * 0.25);
    }

    &--is-audio {
      padding-top: 100px;

      &--edit-mode {
        height: 400px;
        -webkit-transition: height 1s;
        transition: height 1s;
      }

      @media screen and (min-width: responsive-helpers.$tabletBreakpoint) {
        &--edit-mode {
          height: 310px;
        }
      }

      &--normal-mode {
        height: 0;
        -webkit-transition: height 1s;
        transition: height 1s;
      }

      &--dropdown-opened {
        height: 280px;
        -webkit-transition: height 0.5s;
        transition: height 0.5s;
      }

      &--dropdown-closed {
        height: 0;
        -webkit-transition: height 0.5s;
        transition: height 0.5s;
      }
    }
  }

  &__media-wrapper {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .avbox__playlist-header {
    color: colors-helpers.$darkWhite;
    background-image: linear-gradient(0deg, #1b1c1d, rgba(27, 28, 29, .85));
    padding: .5rem;


    @include responsive-helpers.mobile {
      font-size: 1rem;
    }

    font-size: 1.3rem;

    .content {
      padding: 0 1em;
      vertical-align: middle;
    }

    .playlist_icon {
      vertical-align: bottom;
    }
  }

  &__playlist-wrapper {
    @include responsive-helpers.mobile {
      display: block;
      padding-bottom: 1em;
      padding-top: -1em;
      left: 0;
      right: 0;
      position: relative;
      overflow-y: auto;

      &::before {
        content: none;
      }

      >.header {
        &::before {
          content: none;
        }
      }
    }

    background: colors-helpers.$darkWhite;
    display: flex;
    flex-direction: column;

    >.header {
      flex: 0 0 auto;
      position: relative;
      padding: 0 0.5em;
    }
  }

  &__playlist-view {
    border: 1px solid colors-helpers.$midWhite;
    clear: both;
    overflow-y: auto;
    position: relative;
    margin: 0;

    &.container {
      border: 1px solid colors-helpers.$midWhite;
    }

    .header {
      color: colors-helpers.$blue;
    }

    .list {
      width: 100%;

      .item {
        padding: 0 !important;

        .active {
          background-color: rgba(colors-helpers.$blue, .2) !important;
        }

        table {
          width: 100%;
          background-color: inherit;
          color: inherit;
        }
      }
    }


    .menu>.item {
      &.active {
        background-color: rgba(colors-helpers.$blue, .2) !important;
      }
    }
  }
}


.avbox__playlist-prev-button,
.avbox__playlist-next-button {
  color: white;
  display: inline-block;

  &:hover {
    opacity: 0.8;
    color: white;
  }
}


.cut_and_download_btn,
.embed-share-button {
  padding: 0 !important;
  margin: 0 1px !important;
  position: relative;
  font-size: 1.7em !important;
  align-self: flex-start;

  &>.icon {
    margin: 0 !important;
    width: auto !important;
  }

}

.cut_and_download_modal {
  text-align: center;
  padding: 3em 1em;

  &>.header {
    padding-bottom: 1em;
  }

  &>.container {
    padding-top: 2em;
  }

  .button {
    margin: 0 1em;
  }
}