.rtl {
  .layout {
    &__sidebar {
      left: auto;
      right: 0;
      transform: translate(100%, 0);

      &-menu {
        border-left: 1px solid $border-color;
        border-right: 0;
      }
    }
  }

  .logo {
    display: flex;
    flex-direction: row; // keep icon on the left, titles on the right
    align-items: center;

    .logo__titles {
      margin-left: 0;  // space between icon (left) and titles (right)
      margin-right: 10px;
      text-align: right;
    }

    h1.header {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      font-size: 1.3rem;
      font-weight: 100;
      font-family: Lato;
      margin-top: -3px;


    }
  }
 
  // Hebrew: make subtitle bigger
  .logo {
    .logo__subtitle {
      font-size: 2.2rem;
      font-family: Lato;
      font-weight: 900;
      letter-spacing: -0.04em;
      @include mobile {
        font-size: 1.4rem;
      }
    }
  }

  @media only screen and (min-width: $largeMonitorBreakpoint) {
    .layout:not(.is_fullscreen) {
      .layout__sidebar {
        transform: none;
      }

      .layout__main {
        margin-left: 0;
        margin-right: $sidebar-width;
      }

      .layout__secondary-header {
        left: 0;
        right: $sidebar-width;
      }
    }
  }
}
