.media-player {
  position: relative;
  min-height: 40px;
  user-select: none;

  video,
  audio,
  iframe,
  object,
  embed {
    display: block;
    width: 100%;
  }
}

.player-control-progress {
  position: relative;
  width: 100%;
  height: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;

  .bar {
    position: absolute;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    margin-left: 0;
    margin-right: 0;
  }

  .remaining {
    background-color: rgb(118, 118, 118);
    z-index: 1;
  }

  .loaded {
    background-color: rgb(214, 214, 214);
    z-index: 2;
  }

  .played {
    left: 0;
    background-color: rgb(66, 133, 244);
    z-index: 3;
  }

  .knob {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(66, 133, 244);
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
}

.player-control-mute-unmute {
  display: flex;
  position: relative;
  flex-direction: column-reverse;

  .volume-popover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #000000;
    opacity: 0.65;
    visibility: hidden;
  }

  .bar-wrapper {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

    .bar {
      width: 4px;
      margin-top: 0;
      margin-bottom: 0;

      &.blank {
        background-color: rgb(118, 118, 118);
      }

      &.volume {
        position: relative;
        background-color: rgb(66, 133, 244);

        .knob {
          position: absolute;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: rgb(66, 133, 244);
          left: 50%;
          transform: translateX(-50%);
          top: -5px;
        }
      }
    }
  }
}

.player-control-language {
  margin-left: 5px;
}

.player-control-audio-video {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.player-button {
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;

  img {
    height: 100%;
  }
}

.media-center-control {
  flex: 1 0 auto;
  position: relative;

  .player-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.media-controls {
  direction: ltr;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  color: #ffffff;
  opacity: 1;
  transition: 0.25s linear;

  &.fade {
    opacity: 0;
  }

  .controls-wrapper {
    flex: 0 0 40px;
    position: relative;

    .controls-container {
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &:before {
      content: "";
      display: block;
      background: rgba(0, 0, 0, 65%);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.65;
      z-index: 0;
    }
  }
}

.media-player-fullscreen {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 60px;

  ::-webkit-media-controls {
    display: none !important;
  }

  .media-center-control {
    .player-button {
      z-index: 2147483647;
    }
  }

  .media-controls,
  .controls-wrapper {
    z-index: 2147483647;
  }

  .icon {
    font-size: 2em;
  }

  .player-control-audio-video,
  .player-control-language,
  .player-control-time-elapsed {
    font-size: 1.25em;
  }

  .player-control-audio-video {
    margin-left: 10px;
    margin-right: 10px;
  }

  .player-control-mute-unmute {

    .bar-wrapper {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      margin-top: 10px;
      z-index: 2147483647;

      .bar {
        width: 6px;

        &.volume {

          .knob {
            height: 20px;
            width: 20px;
            top: -5px;
          }
        }
      }
    }
  }

  .media-controls {
    .controls-wrapper {
      flex: 0 0 60px;
    }
  }
}
